 text-align: center;
 .horizontal_rule {
     width: 30%;
     display: block;
 }
 
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 body {
     background-image: url(background.jpg);
     background-size: cover;
     background-position: center;
     box-sizing: border-box;
     font-family: sans-serif;
 }
 
 .menu-bar {
     background-color: brown;
     text-align: center;
 }
 
 .menu-bar ul {
     display: inline-flex;
     list-style: none;
     color: #fff
 }
 
 .menu-bar ul li {
     width: 120px;
     margin: 15px;
     padding: 15px;
 }
 
 .menu-bar ul li a {
     text-decoration: none;
     color: #fff;
 }
 
 .active,
 .menu-bar ul li:hover {
     background: #C4A484;
     border-radius: 3px;
 }
 
 .menu-bar .fa {
     margin-right: 8px;
 }